<mat-card appearance="outlined">
  <mat-card-header class="header">
    <mat-card-title class="medium-font bold">Users List</mat-card-title>
    <button mat-stroked-button class="header-button" (click)="openPopup()">🚀 Add Ethereum User</button>
    <button mat-stroked-button class="header-button" (click)="FetchuserDetails()">🚀 Fetch User</button>
  </mat-card-header>
  <mat-card-actions>
    <mat-divider></mat-divider>
    <!-- Dynamic Material Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Ethereum Address Column -->
      <ng-container matColumnDef="ethAddress">
        <th mat-header-cell *matHeaderCellDef> ethAddress </th>
        <td mat-cell *matCellDef="let user"> {{user.ethAddress}} </td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let user"> {{user.balance}} </td>
      </ng-container>

      <!-- Is Active Column -->
      <ng-container matColumnDef="Hash">
        <th mat-header-cell *matHeaderCellDef> Hash </th>
        <td mat-cell *matCellDef="let user"> {{user.hash}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-actions>
</mat-card>

<div class="container">
  <!-- Popup -->
  <div *ngIf="isPopupOpen" class="popup col-4">
    <div class="popup-content">
      <h2>📝 Add Ethereum User</h2>
      
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label>Select Users</label>
          <select class="form-control" formControlName="Users">
            <option value="" disabled selected>Select Users</option>
            <option *ngFor="let ulist of this.selectUserList" [value]="ulist.value" >{{ ulist.name }}</option>
        </select>
      </div>

        <div class="mb-3">
          <label>Name:</label>
          <input type="text" class="form-control" formControlName="Name">
        </div>

        <div class="mb-3">
          <label>Email:</label>
          <input type="email" class="form-control" formControlName="Email">
        </div>

        <div class="mb-3">
          <label>EthAddress:</label>
          <input type="text" class="form-control" formControlName="EthAddress">
        </div>

        <div class="mb-3">
          <label>Balance:</label>
          <input type="number" class="form-control" formControlName="Balance">
        </div>

        <button type="submit" class="btn btn-success">💾 Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">❌ Cancel</button>
      </form>
    </div>
  </div>
</div>