<mat-card appearance="outlined">
  <mat-card-header class="header">
    <mat-card-title class="medium-font bold">Transaction List</mat-card-title>
    <button mat-stroked-button class="header-button" (click)="openPopup()">Add Transaction</button>
  </mat-card-header>
  <mat-card-actions>
    <mat-divider></mat-divider>
    <!-- Dynamic Material Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Ethereum Address Column -->
      <ng-container matColumnDef="ethAddress">
        <th mat-header-cell *matHeaderCellDef> ethAddress </th>
        <td mat-cell *matCellDef="let user">
          <button mat-button color="primary" (click)="viewUserDetail(user.ethAddress)">
            {{ user.ethAddress }}
          </button>
        </td>
      </ng-container>
      

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let user"> {{user.balance}} </td>
      </ng-container>

      <!-- Is Active Column -->
      <ng-container matColumnDef="Hash">
        <th mat-header-cell *matHeaderCellDef> Hash </th>
        <td mat-cell *matCellDef="let user"> {{user.hash}} </td>
      </ng-container>

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-actions>
</mat-card>

<div class="container">
  <!-- Popup Overlay -->
  <div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup">
      
      <!-- Header -->
      <div class="popup-header">
        <h3>🔄 Transaction</h3>
      </div>

      <!-- Body -->
      <div class="popup-body">
        <form [formGroup]="userForm">

          <!-- Select Users -->
          <div class="form-group">
            <select class="form-control" formControlName="Id">
              <option value="" disabled selected>Select Users</option>
              <option *ngFor="let ulist of selectUserList" [value]="ulist.value">{{ ulist.name }}</option>
            </select>
          </div>

          <!-- Name -->
          <div class="form-group">
            <input type="text" class="form-control" formControlName="Name" placeholder="Name">
          </div>

          <!-- Email -->
          <div class="form-group">
            <input type="email" class="form-control" formControlName="Email" placeholder="Email">
          </div>

          <!-- Ethereum Address -->
          <div class="form-group">
            <input type="text" class="form-control" formControlName="EthAddress" placeholder="Ethereum Address">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" formControlName="Phoneno" placeholder="Phone Number">
          </div>

          <!-- Balance -->
          <!-- <div class="form-group">
            <input type="number" class="form-control" formControlName="Balance" placeholder="Balance">
          </div> -->

        </form>
      </div>

      <!-- Footer -->
      <div class="popup-footer">
        <button type="submit" class="btn btn-success" style="margin-right: 20px;" (click)="onSubmit()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!isLoading">💾 Save</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="closePopup()" [disabled]="isLoading">❌ Cancel</button>
      </div>

    </div>
  </div>
</div>


